/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.game-image{

   width: 500px;
   height: auto;
   border-radius: 10%;

}

.page-button{

   margin-left: 50px;

}

.game-index-list{

   list-style-type: none;

}

.game-index-link{

   padding: 10px;

}

.game-thumbnail{

   width: 50px;
   height: auto;
   border-radius: 50%;

}

.comment{

   background: rgba(202, 49, 49, 0.315);
   border-radius: 10%;
   padding: 3px;
   margin-left: 20px;
   display: inline-block;
}

.post-content{

   font-size: 28px;
   background: rgba(137, 43, 226, 0.247);

}

.nav-avatar{

   border-radius: 50%;
   width: 50px;
   height: auto;
   /* margin-left: 50px; */
   /* margin-top: 30px; */

}

p{

font-family: Georgia, 'Times New Roman', Times, serif;


}

h3{

   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   color: teal;

}

a:visited{

   color:rgb(109, 37, 6)

}

a:link {

   color:lightseagreen;

}

ul{

   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 25px;
   list-style-type:circle;
   color: indianred;

}

h2{

   font-family: 'Lobster';
   color:seagreen;
   font-size: 50px;

}

h1{

   font-family: "Lobster";
   color:indianred;
   font-size: 75px;
   margin-left: 40px;
}

@font-face {
   font-family: 'Lobster';
   src: url('Lobster-Regular.ttf') format('truetype');
}

.description{

   font-size: 25px;
   margin-left: 150px;
   margin-right: 150px;

}

.splash-highlights{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: rgb(245, 201, 81);
   margin-left: 200px;
}

 .splash-info {

   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: 600;
   color:rgb(94, 46, 228);
   margin-left: 200px;
   margin-top: 50;
}
.top-nav {
   list-style: none;
   margin: 0 2px;
   display: flex;
   justify-content: space-around;
   color: rgb(11, 58, 187);
   /* position: relative; */
   background-color:rgba(240, 128, 128, 0.527);
   position:sticky;
	top:0;
   /* margin-top: 50px; */
   /* border-radius: 10%; */

   /* opacity: 50%; */
   /* background-image: url(https://storage.googleapis.com/propcart-dev.appspot.com/uploads/user/J9OdYHbR5bhfMEiIUsw3MjX6bMq1/PC01075.JPG);
   background-size: 11%;
   background-repeat: repeat-x; */
}

.nav-button {

   background-color: rgb(77, 70, 180);
   color: white;
   list-style: none;
   justify-content: inherit;
   text-align: center;
   text-decoration: none;
   padding: 7px 16px;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 5px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}

.main-logo{

   color: rgb(77, 70, 180);
   font-family: 'Lobster';
   font-weight: 800;
   font-size: 100px;
   position: absolute;
   z-index: 999;
   margin: 0 auto;
   left: 0;
   right: 0;
   top: 39%;
   text-align: center;
   width: 60%;
   margin-left: 110px;
   color: black;
  -webkit-text-fill-color: rgb(77, 70, 180); /* Will override color (regardless of order) */
  text-shadow:
   -1px -1px 0 ,  
    1px -1px 0 ivory,
    -1px 1px 0 ivory,
     1px 1px 0 ivory;
   
   /* border: 50px;
   border-radius: 50px;
   border: aquamarine; */
}

.whirlpool-image{

   border-radius: 50%;
   width: 250px;
   height: auto;
   margin-left: 50px;
   margin-top: 30px;

}

.box{

   position: relative;
   display: inline-block;

}

 .profile-pic {
    max-width:50%;
    height:auto;
}


.home-splash{
   background-color: #F9F6F6;
   /* background-image: linear-gradient(#F9F6F6, #151616); */
   /* background-repeat; */
   background-size: auto  ;
}

.backdrop{

   background-color: blanchedalmond;
   padding: 1px;
   border-radius: 10px;
   margin-top: 60px;

}