<h1>Public Community Index</h1>

<ul>
<% @communities.each do |community|%>
    <% if community.public %>
        <li><%= link_to community.title, community_path(community) %></li>
    <% end %>
<% end %>
</ul>