<h1>Welcome to <%= @community.title %></h1>

<p><%= @community.bio %> </p><div>
<h3>Members</h3>
<ul>
    <% @community.users.each do |user|%>
        <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
</ul>

<% if @community.public && current_user && !current_user.communities.include?(@community)%>
    <%= button_to "Join Community", join_community_path(@community), method: :post %>
<% end %>